{
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "printWidth": 120,
  "overrides": [
    {
      "files": ["*.html", "*.scss"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
